*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:rgb(68, 82, 121)
}

.wrapper{
    min-height:100vh;
    padding:15px;
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    gap:15px;
    font-size: 20px;
    font-family:sans-serif;
}

.header{
    background-color: rgb(248, 248, 255);
   color: rgb(233, 227, 248);
}



.header, .footer, .content1, .content2>div>div{
flex:1;
display:flex;
justify-content: center;
align-items: center;
border: 10px solid rgb(6, 6, 76);
}

.main-container{
    flex:6;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:15px;
}

.content1{
    background-image: url(./image/02.jpg);
    background-position:center;
    background-size:cover;
}

.two{
    background-image: url(./image/gintama.jpg);
    background-size:cover;
    background-position:center;
}

.three{
    background-image: url(./image/sololevel.jpg);
    background-size:cover;
    background-position:center;
}

.four{
    background-image: url(./image/saiki.jpg);
    background-size:cover;
    background-position:center;
}

.five{
    background-image: url(./image/haikyuu.jpg);
    background-size: contain;
}

.content2{
    flex:1;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    gap:15px;

    
}

.content2>div{
    flex:1;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    gap:15px;
    
}

@media screen and (max-width:800px){
    .main-container>div{
            min-height: 400px;
    }

    .content1{
        flex:100%;
    }

    .header{
        min-height:90px;
    }

    .footer{
        min-height:110px;
    }
}

@media screen and (max-width:520px){
    .content2>div{
        flex-direction: column;
    }

    .content2>div>div{
        min-height: 200px;
    }

}


.footer{
    color: rgb(246, 246, 246);
    background-color: aliceblue;
}